absl-py==2.1.0
antspyx==0.4.2
astunparse==1.6.3
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
chart-studio==1.1.0
contourpy==1.2.1
cycler==0.12.1
filelock==3.13.4
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
gast==0.4.0
gdown==5.2.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.11.0
huggingface-hub==0.23.0
idna==3.7
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
itk==5.3.0
itk-core==5.3.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
Jinja2==3.1.3
joblib==1.4.0
keras==2.11.0
keras-unet-collection==0.1.13
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
monai==1.3.0
mpmath==1.3.0
-e git+https://github.com/smakrogi/MultiPlanarUNet.git@d48d4afbd3c3dcf8f08d59edbc7b004505211347#egg=mpunet
namex==0.0.8
networkx==3.2.1
neurite==0.2
nibabel==5.2.1
nilearn==0.10.4
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
patsy==0.5.6
pillow==10.3.0
plotly==5.21.0
protobuf==3.19.6
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.17.2
pyparsing==3.1.2
PySocks==1.7.1
pystrum==0.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.13.0
SimpleITK==2.3.1
six==1.16.0
soupsieve==2.5
statsmodels==0.14.2
sympy==1.12
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.11.0
tensorflow-gpu==2.11.0
tensorflow-io-gcs-filesystem==0.36.0
tensorrt==10.0.0b6
tensorrt-cu12==10.0.0b6
tensorrt-cu12_bindings==10.0.0b6
tensorrt-cu12_libs==10.0.0b6
tensorrt-dispatch-cu12==10.0.0b6
tensorrt-lean-cu12==10.0.0b6
tensorrt_dispatch==10.0.0b6
tensorrt_dispatch-cu12_bindings==10.0.0b6
tensorrt_dispatch-cu12_libs==10.0.0b6
tensorrt_lean==10.0.0b6
tensorrt_lean-cu12_bindings==10.0.0b6
tensorrt_lean-cu12_libs==10.0.0b6
termcolor==2.4.0
threadpoolctl==3.4.0
tifffile==2024.2.12
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.2
transformers==4.41.0
triton==2.3.0
typeguard==2.13.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
webcolors==1.13
Werkzeug==3.0.2
wrapt==1.16.0
zipp==3.18.1
